html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('./birthday.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
   
}


.titulo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.foto{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}




